<div class="container">
  <br/>
  <input type="button" class="btn btn-success" id="add" value="ajouter" (click)="add()"/>
  <br/>
  <div class="card" style="width: 50%;" [hidden]="hide">
    <div class="card-header">Ajouter un Departement</div>
    <div class="card-body">
      <form (ngSubmit)="ajouter()">
        <input list="universite" name="universite" [(ngModel)]="idUniversite" name="Departement" class="form-control" placeholder="selectionner universite">
        <datalist id="universite">
          <option *ngFor="let item of universites" value="{{item.id}}">{{item.nomUniversite}}</option>
        </datalist>
        <input list="faculte" *ngIf="idUniversite" name="faculte" [(ngModel)]="idFaculte" name="faculte" class="form-control" placeholder="selectionner faculte">
        <datalist id="faculte">
          <option *ngFor="let item of facultes" value="{{item.id}}">{{item.nomFaculte}}</option>
        </datalist>
        <input type="text" *ngIf="idFaculte" name="nomDepartement" id="nomDepartement" class="form-control" [(ngModel)]="nomDepartement" placeholder="nom Departement">
        <br/>
        <input type="submit" value="enregistrer" [disabled]="!idUniversite" class="btn btn-success">
      </form>
    </div>
  </div>
  <br/>
  <div class="card">
  <div class="card-header">Liste des Departements</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Departement</th>
          <th>Faculte</th>
          <th>Universite</th>
          <th>Details</th>
          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of departements">
          <td>{{item.id}}</td>
          <td>{{item.nomDepartement}}</td>
          <td>{{item.idFaculte}}</td>
          <td>{{item.idUniversite}}</td>
          <td><button class="btn btn-success">voir</button></td>
          <td><input type="button" class="btn btn-success" value="modifier"></td>
          <td><input type="button" class="btn btn-success" (click)="supprimer(item.id)" value="supprimer"></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
