<div class="container">
  <div class="card">
    <h1 style="text-align: center;">Crud etudiant</h1>
    <form #loginForm="ngForm">
      <div class="container">
        <div class="row" style="width: 50%;">
          <div class="mb-3 col-6">
            <input type="text" name="prenom"  class="form-control" id="prenom" placeholder="prenom">
          </div>
          <div class="mb-3 col-6">
            <input name="nom" placeholder="nom" type="text" class="form-control" id="prenom">
          </div>
        </div>
        <div class="row" style="width: 50%;">
          <div class="mb-3 col-6">
            <input name="telephone" placeholder="telephone" type="text" class="form-control" id="telephone">
          </div>
          <div class="mb-3 col-6">
            <input name="age" placeholder="age" type="number" class="form-control" id="age">
          </div>
        </div>
      </div>
      <div class="row" style="width: 50%;">
        <div class="mb-3 col-6">

        </div>
        <div class="mb-3 col-6">
          <button type="submit" class="btn btn-success ">Enregistrer</button>
        </div>
      </div>
    </form>
</div>
